<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.myylook.video"
    >

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.myylook.video.activity.VideoPlayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"
            />
        <activity
            android:name="com.myylook.video.activity.VideoLongDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.myylook.video.activity.VideoRecordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"
            />
        <activity
            android:name="com.myylook.video.activity.VideoChooseActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.myylook.video.activity.VideoEditActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.myylook.video.activity.VideoPublishActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.myylook.video.activity.VideoReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            />
        <activity
            android:name="com.myylook.video.activity.VideoGoodsAddActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.myylook.video.activity.VideoChooseClassActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>
